<aside class="sidebar">
  <h3>القائمة الرئيسية</h3>

  <a class="nav-link" href="{% url 'home' %}">
    الصفحة الرئيسية
  </a>

  <a class="nav-link" href="{% url 'reports' %}">
    نظام البلاغات
  </a>

  <a class="nav-link" href="{% url 'risk' %}">
    إدارة المخاطر
  </a>

  <a class="nav-link" href="{% url 'forms' %}">
    النماذج الرقمية
  </a>

  <a class="nav-link" href="{% url 'dashboard' %}">
    لوحة التحكم
  </a>

  <a class="nav-link" href="{% url 'system' %}">
    إدارة النظام
  </a>
</aside>
